﻿@model mvc5testapp.Models.IndexViewModel
@using mvc5testapp.Models           
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
    <head>
        <title>Users</title>
    </head>    
    <body>
        <h1>Пользователи</h1>
        @using (Html.BeginForm())
        {
           <label for="itemsPerPage">Количество элементов на странице</label>
            
            @Html.DropDownListFor(m => m.Pagination.PageSize.Id, new SelectList(Model.PageSizes, "Id", "Size", Model.Pagination.PageSize))
            <input type="submit" value="Применить"/>
        }
        @{
                //изменение направления сортировки на противоположное
                string nameSortDir = Model.SortInfo.OrderBy == "name" ? Model.SortInfo.InvertedOrderDirection : "asc";
                string statusSortDir = Model.SortInfo.OrderBy == "status" ? Model.SortInfo.InvertedOrderDirection : "asc";
                string regdateSortDir = Model.SortInfo.OrderBy == "regdate" ? Model.SortInfo.InvertedOrderDirection : "asc";
        }

        <table>
            <tr class="users-tab-header">
                <th class="col-header-1">@Html.ActionLink("Имя", "Index", "Home", new { sort =  "name", sortdir = nameSortDir, psize = Model.Pagination.PageSize.Id}, null) </th>
                <th class="col-header-2">@Html.ActionLink("Дата регистрации", "Index", "Home", new { sort = "regdate", sortdir = regdateSortDir, psize = Model.Pagination.PageSize.Id }, null)</th>
                <th class="col-header-3">@Html.ActionLink("Статус", "Index", "Home", new { sort = "status", sortdir = statusSortDir, psize = Model.Pagination.PageSize.Id }, null)</th>
                <th class="col-header-4"><span>Роли</span></th>
            </tr>
            
            @foreach(var user in Model.Users)
            { 
                <tr>
                    <td class=col-1>@Html.ActionLink(user.Name, "UserInfo", "Home", new {id=user.Id}, null)</td>
                    <td class=col-2>@user.RegDate</td>
                    <td class=col-3>@user.Status.Name</td>
                    <td class=col-4>
                        <ul class="roles">
                            @foreach (var role in user.Roles)
                            {
                                <li>@role.Name</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </table>
        <div class="pagination">
            @for(int i = 1; i <= Model.Pagination.PagesCount; i++)
            {
                if(i==Model.Pagination.CurrenPageNumber)
                {
                        <span class="currnet-page">@i</span>
                }
                else
                {    
                    @Html.ActionLink(i.ToString(), "Index", "Home", new { sort = Model.SortInfo.OrderBy, sortdir = Model.SortInfo.OrderDirection, page = i, psize = Model.Pagination.PageSize.Id }, new { @class = "page-link"})
                }
            }
                
        </div>
    </body>
</html>
