﻿@model mvc5testapp.Models.UserinfoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserInfo</title>
</head>
<body>
    <h2>Редактирование ползьзователя @Model.User.Name</h2>
    @using mvc5testapp.Models;               
    @using (Html.BeginForm())
    {
        <div class="measage">@TempData["message"]</div>
        <fieldset>
            @Html.HiddenFor(model => model.User.Id)
            @Html.HiddenFor(model => model.User.LastUpdateTime)
            @Html.HiddenFor(model => model.User.RegDate)
            <p>
                <span class="editor-label">Имя*:</span>
                <span class="editor-field">@Html.EditorFor(model => model.User.Name)</span>
                <div class="validation-message">@Html.ValidationMessageFor(model => model.User.Name)</div>
            </p>
            <p>
                <span class="editor-label">Статус*:</span>
                <span class="editor-field">@Html.DropDownListFor(model => model.User.StatusId, new SelectList(Model.Statuses, "Id", "Name", Model.User.Status))</span>
                
            </p>
            <p>
                <span class="editor-label">Дата рождения*:</span>
                <span class="editor-field">@Html.EditorFor(model => model.User.BirthDate)</span>
                <div class="validation-message">@Html.ValidationMessageFor(model => model.User.BirthDate)</div>
            </p>
            <p>
                <span class="editor-label">email:</span>
                <span class="editor-field">@Html.EditorFor(model => model.User.email)</span>
                <div class="validation-message">@Html.ValidationMessageFor(model => model.User.email)</div>
            </p>
            <p>
                <span class="editor-label">Телефон:</span>
                <span class="editor-field">@Html.EditorFor(model => model.User.phone)</span>
                <div class="validation-message">@Html.ValidationMessageFor(model => model.User.phone)</div>
            </p>
            <p>
                <span class="editor-label">Роли*:</span>
                <ul class="editor-field">
                    
                    @foreach (Role r in Model.Roles)
                    {
                        <li>
                            <input type="checkbox" name="selectedRoles" value="@r.Id" @(Model.User.Roles.Contains(r) ? "checked=\"checked\"" : "") >@r.Name 
                        </li>
                    }

                </ul>
            </p>

                <input type="submit" />
                @Html.ActionLink("Cancel", "Index", "Home")
        </fieldset>
    }
    
</body>
</html>
