﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 700px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*****/

table td{
    background: #ddd
}

td {
  height: 50px;  
}

tr {
    border-bottom: 1px dashed #bfbfbf;
}

.users-tab-header {
    height: 40px!important;
    background: #567;
    color: #eee;
}

.users-tab-header a{
    color: #eee;
    text-decoration: underline;
    font-size: 14px
}

.col-header-1 {
    width: 200px;
    padding-left: 10px;
}

.col-header-2 {
    width: 150px;
}

.col-header-3 {
    width: 100px;
}

.col-header-4 {
    width: 150px;
}

.col-1 {
    padding-left: 8px;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 11px;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

.pagination {
    width: 600px;
    overflow-x: auto;
}

.pagination a, .pagination span{
    margin: 0 10px;
}

h2
{
    width: 800px;
    margin: 10px auto 0;
}

form{
    margin: 30px 0 0 0;
}

.editor-label {
    display: block;
    margin-top: 20px
}

.editor-field {
    
}

form ul{
    font-size: 12px;
}


.measage{
    margin: 0 0 10px 90px;
    width: 500px;
    color: #d74;
    
}

fieldset {
    width: 600px;
    border: 1px solid #ccc;
    padding: 0 35px 20px 35px;
    margin: 0 auto;
    border-radius: 4px;
}

fieldset input.text-box{
    border-color: #456;    
    border: 1px solid #999;
    line-height: normal;
    padding: 5px;
    border-radius: 2px;
}
