﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <hgroup>
        <h1>Ошибка.</h1>
        <h2>При обработке запроса произошла ошибка.</h2>
    </hgroup>
    @if(ViewBag.ErrorMessage != null)
    {
        <p>@(ViewBag.ErrorMessage as string)</p>
        <p>@Html.ActionLink("Назад", "Index", "Home")</p>
    }
    
</body>
</html>
